In [40]:
import pandas as pd

In [48]:
dataset = pd.read_csv('Total Emissions Per Country (2000-2020).csv')
data = pd.DataFrame(dataset)
data = data.reset_index(drop=True)
if 'Unit' in data.columns:
    data = data.drop('Unit', axis=1)
data.drop(index = start_data[data['Area'] != 'Greece'].index)

,Area,Item,Element,2000,2001,2002,2003,2004,2005,2006,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
18422,Greece,Crop Residues,Direct emissions (N2O),0.8718,0.8659,0.8417,0.8023,0.8693,0.8626,0.7993,...,0.8255,0.8137,0.8256,0.7181,0.7205,0.6668,0.6154,0.5140,0.4990,0.5284
18423,Greece,Crop Residues,Direct emissions (N2O),0.8317,0.8457,0.8199,0.7535,0.8381,0.8403,0.7706,...,0.7852,0.7751,1.1040,1.0033,0.9308,0.9207,0.9692,0.8158,0.7939,0.7939
18424,Greece,Crop Residues,Indirect emissions (N2O),0.1961,0.1948,0.1894,0.1805,0.1956,0.1941,0.1799,...,0.1857,0.1831,0.1858,0.1616,0.1621,0.1500,0.1385,0.1156,0.1123,0.1189
18425,Greece,Crop Residues,Emissions (N2O),1.0679,1.0607,1.0311,0.9828,1.0648,1.0567,0.9792,...,1.0113,0.9968,1.0114,0.8797,0.8827,0.8168,0.7539,0.6296,0.6112,0.6473
18426,Greece,Crop Residues,Emissions (N2O),0.8317,0.8457,0.8199,0.7535,0.8381,0.8403,0.7706,...,0.7852,0.7751,1.1040,1.0033,0.9308,0.9207,0.9692,0.8158,0.7939,0.7939
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18685,Greece,All sectors without LULUCF,Emissions (CO2),92160.1390,94670.1390,94560.3240,96650.5920,97970.7290,99811.3700,98061.6600,...,81334.0000,82282.4700,71852.7300,70383.1800,67623.6300,64652.7800,51702.4900,66902.5400,63552.2600,52182.0300
18686,Greece,All sectors without LULUCF,Emissions (CO2eq) from F-gases (AR5),3896.7359,1409.0441,3537.1867,3333.1182,3342.8358,3197.0726,1904.6390,...,2409.9514,2555.7146,2769.5006,2730.6304,2779.2181,2886.1111,2837.5234,2750.0655,2614.0198,2526.5619
18687,Greece,All sectors without LULUCF,Emissions (CO2eq) from CH4 (AR5),16109.6445,15391.0183,15590.0005,15685.2033,15940.3478,16099.4104,16208.3732,...,14669.2073,14452.5089,13833.7803,13663.5987,13425.0087,13045.4309,13241.3207,12718.7625,12578.9175,12450.7996
18688,Greece,All sectors without LULUCF,Emissions (CO2eq) from N2O (AR5),6310.6042,6070.4353,6016.0237,5966.3460,5970.1737,5772.5804,5584.9608,...,5078.1267,4689.8651,4694.6826,4569.7223,4442.3789,4400.3423,4457.1815,4272.0658,4210.1837,4186.5345
18689,Greece,All sectors without LULUCF,Emissions (CO2eq) (AR5),118477.1235,117540.6367,119703.5349,121635.2596,123224.0863,124880.4334,121759.6330,...,103491.2853,103980.5585,93150.6935,91347.1314,88270.2357,84984.6643,72238.5156,86643.4337,82955.3810,71345.9261

The logic behind dropping the Unit columns is that it is always the same variable value so it is unneccessary in this analysis. I decided to only analyse farming emissions in Greece because I was scared my laptop would explode with how underpowered it is so I chose to chop down the data size to ensure it would run properly. The reason for reseting the data was because when I ran data = data.drop('Unit', axis=1) it acted as if it didn't exist in the dataframe despite me seeing it when I printed it.